.container {
  display: flex;
  gap: 100px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title{
  font-size: 70px;
}

.desc{
  font-size: 20px;
}

.buttons{
  display: flex;
  gap: 20px;
}

.button{
  letter-spacing: 2px;
  font-size: 15px;
  padding: 20px;
  min-width: 120px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.button:first-child{
  background-color: var(--btn);
  color: var(--text);
}

.brands{
  width: 500px;
  height: 50px;
  position: relative;
  filter: grayscale(1);
  cursor: pointer;
  transition: filter 0.7s ease;
}

.brands:hover {
  filter:grayscale(0%);
}

.imgContainer {
  flex: 1;
  position: relative;
  object-fit: fill;
}